<div class="header">
  <h3 class="text-muted">chatty</h3>
</div>

<h4>Latest Chats:</h4>
<div class="jumbotron">

	<form>
		<input ng-model="userObj.username"  type="text" placeholder="Username">
		<input ng-model="userObj.msg" type="text" placeholder="Hello!">
		<input type="url" ng-model="userObj.url" placeholder="Photo Url">
		<button ng-click="addMessage(userObj)">submit</button>
	</form>




	<div ng-repeat="message in messages track by $index">
	{{message.url}}	{{message.username}} said: {{ message.message }} at {{message.time | date: "shortTime"}}
		</div>

</div>
